{% extends "main_page.html" %}
{% block content %}
    <hr>
    <h1>{{title}}</h1>
    <p>Текст статьи: {{post}}</p>
    <p style="display: inline-block">Теги:</p>
        {%for hashtag in hashtags %}
            <p style="display: inline-block">"{{hashtag}}"</p>
        {% endfor %}
    <p>Комментарии:</p>
        {%for comment in comments %}
            <p>{{comment.username}}: "{{comment.text}}"</p>
        {% endfor %}
    <fieldset>
        <legend style="text-align: left">Ваш комментарий:</legend>
        <textarea name="textarea" id="textarea" cols="80" rows="8" placeholder="Текст комментария..."></textarea>
        <button><a href="{% url 'add_article' %}" style="color: inherit; text-decoration: none;">добавить комментарий</a></button>
    </fieldset>
    <hr>
{% endblock %}
