{% extends 'base_cabinet.html' %}

{% block title %}Смена пароля | {{ block.super }}{% endblock %}

{% block cabinet_content %}
<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-info">
            <div class="card-header">
                <h4 class="text-center">Смена пароля</h4>
            </div>
            <div class="card-body">
                    {% csrf_token %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-info">Сменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
