{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container justify-content-center">
  <div class="col-15">
    <h1>Добавить пост</h1>
    {% if message %}
    <p class="alert alert-success">{{ message }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label"><strong>Заголовок поста:</strong></label>
          <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
          <label for="text" class="form-label"><strong>Текст поста:</strong></label>
          <textarea class="form-control" id="text" name="text" rows="8"></textarea>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label"><strong>Автор поста:</strong></label>
            <select class="form-select" aria-label="author" id="author" name="author">
                <option selected><strong>Выберите пользователя</strong></option>
                    {% for user in users%}
                        <option value="{{ user.id }}" >{{ user.username }}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label"><strong>Категория:</strong></label>
          <select class="form-select mb-2" aria-label="category" id="category" name="category">
            <option value="">Выберите из предложенных категорий</option>
            {% for category in categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
          <input type="text" class="form-control" id="new_category" name="new_category" placeholder="или добавьте новую категорию">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label"><strong>Выберите теги:</strong></label>
            <div class="mb-2">
                {% for tag in tags|dictsort:"name" %}
                    <div class="form-check form-switch d-inline-block me-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="{{ tag.id }}" name="tag" value="{{ tag.id }}">
                        <label class="form-check-label" for="{{ tag.id }}">{{ tag.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <input type="text" class="form-control" id="new_tags" name="new_tags" placeholder="или добавьте новые теги (через запятую)">
        </div>
        <div class="mb-3">
            <label for="cover_image" class="form-label"><strong>Картинка:</strong></label>
            <input type="file" class="form-control" id="cover_image" name="cover_image">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
  </div>
</div>
{% endblock %}